[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
backoff = "*"
openai = "*"
func-timeout = "*"
nltk = "*"
ply = "*"
z3 = "*"
scitools-pyke = "*"

[dev-packages]
neovim = "*"
black = "*"
flake8 = "*"
autoflake = "*"
isort = "*"
jedi = "*"
pdbpp = "*"
ipython = "*"

[requires]
python_version = "3.10"
