[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
backoff = "*"
openai = "*"

[dev-packages]
neovim = "*"
black = "*"
flake8 = "*"
autoflake = "*"
isort = "*"
jedi = "*"

[requires]
python_version = "3.10"
